<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bite.mybatisdemo.mapper.ArticleInfoMapper">
    <select id="selectArticleByID" resultType="com.bite.mybatisdemo.model.ArticleInfo">
        select * from articleinfo where id = #{id}
    </select>
    <select id="selectArticleAndUserByID" resultType="com.bite.mybatisdemo.model.ArticleInfo">
        SELECT ta.*, tb.username, tb.gender from articleinfo ta
            left JOIN userinfo tb on ta.uid = tb.id
                                            where ta.id = #{id}
    </select>
</mapper>